@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&family=Roboto:wght@100;300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-gray-text {
    color: #5A5E63;
}

.light-gray-text {
    color: #D9D9D9;
}

@media (min-width: 768px) {
    .lg-wd {
        width: 20rem;
    }

    .lg-hg {
        width: 20rem;
    }
}

/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
*/